@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&display=swap");

#div1 {
  height: 400px;
  width: 430px;
  border: 2px solid black;
  margin: 20px auto;
  background-color: rgb(153, 247, 216);
  font-family: "Noto Serif", serif;
  border-radius: 15px;
}
label {
  margin-left: 90px;
  padding: 0px 5px;
}
input {
  padding: 5px 0px;
  border-radius: 5px;
  background-color: antiquewhite;
}

p {
  margin-left: 150px;
}
#reset {
  margin-left: 180px;
}
h1 {
  margin-left: 120px;
}
#re1 {
  border: 1px solid black;
  margin-left: 160px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: antiquewhite;
}
button {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: plum;
}
